*{
	margin: 0;
	padding: 0;
}

body,html {
	height:100%;
}

body{
	background-color:white;
	width:100%;
}

#canvascontainer {
	margin: auto;
	outline: 1px solid white;
}

#game{
	width: 100%;
	height:100%;
	display:block;
}